<section id="container" class="full-page bg-dark text-light">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center content">
      <app-add-task></app-add-task>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 space content">
      <app-todo-task></app-todo-task>
    </div>

    <div class="col-md-6 space content">
      <app-done-task ></app-done-task>
    </div>
  </div>

</section>
