<h2>Lista zadań</h2>
<ng-container *ngIf="taskList.length>0; else noTask">
  <ul id="listToDo" class="list-group">
    <li *ngFor='let task of taskList; let idx = index' class="d-flex list-group-item align-items-center text-dark">
      <input type="checkbox" (click)="done(idx)">
      <span class="mr-auto p-2">{{task.name}}</span>
      <label class="p-2 badge badge-{{task.color}}">{{task.category}}</label>
      <button (click)="removeTask(idx)" class="close deleteItem" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
  </ul>
</ng-container>
<ng-template #noTask>
  <p>Dodaj zadania do wykonania</p>
</ng-template>
