<h1 class="space text-center">
  To do List</h1>
<div class="col-xl-10 offset-xl-1 form-section">
  <form class="newTaskForm space">
    <input [(ngModel)]="newTask" id="inputField" class="form-control space" placeholder="Wpisz nowe zadanie" required [ngModelOptions]="{standalone: true}">
    <h5>Kategoria: </h5>
    <div id="categoryButtons" class="btn-group space" data-toggle="buttons">
      <label class="btn btn-outline-success" (click)="onSelectionChange('Dom','success')">
        <input type="radio" name="category" data-value="Dom" data-color="success" id="home" autocomplete="off" >Dom</label>
      <label class="btn btn-outline-primary "(click)="onSelectionChange('Osobiste','primary')">
        <input type="radio" name="category" data-value="Osobiste" data-color="primary" id="personal" autocomplete="off" >Osobiste</label>
      <label class="btn btn-outline-warning "(click)="onSelectionChange('Praca','warning')">
        <input type="radio" name="category" data-value="Praca" data-color="warning" id="work" autocomplete="off" >Praca</label>
      <label class="btn btn-outline-info " (click)="onSelectionChange('Telefon','info')">
        <input type="radio" name="category" data-value="Telefon" data-color="info" id="telephone" autocomplete="off" >Telefon</label>
      <label class="btn btn-outline-secondary active" (click)="onSelectionChange('Inne','secondary')" >
        <input type="radio" name="category" data-value="Inne" data-color="secondary" id="other" autocomplete="off" checked>Inne</label>
    </div>
    <br>
    <button (click)="addTask()" class="btn btn-outline-danger">Dodaj</button>
  </form>
</div>
