<h2>Zadania wykonane: {{doneTask.length}} </h2>
<ng-container *ngIf="doneTask.length>0; else noTask">
  <li *ngFor='let task of doneTask; let idx = index' id="listDone" class="list-group" class="d-flex list-group-item align-items-center text-dark">
    <input type="checkbox" (click)="notDone(idx)" checked>
    <span class="mr-auto p-2">{{task.name}}</span>
    <label class="p-2 badge badge-{{task.color}}">{{task.category}}</label>
    <button (click)="removeTaskDone(idx)" class="close deleteItem" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
</ng-container>
<ng-template #noTask>
  <p>Nie masz wykonanych zadań. Do dzieła :) </p>
</ng-template>