/* You can add global styles to this file, and also import other style files */
.space {
    margin-bottom: 20px;
}

.full-page {
    padding: 5%;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.full-page .newTaskForm #inputField {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.full-page .content {
    max-width: 100%;
}

.full-page .content li label {
    margin: 0;
}

@media (max-width: 500px) {
    .content {
        padding: 0;
    }
    .row {
        margin: 0;
    }
    .full-page {
        padding: 2%;
    }
    .full-page .form-section {
        padding: 0;
    }
}
